@model Naukari_24March.Models.ShowAllInfo

@{
    ViewData["Title"] = "Details";
}



<h1>Candidate ID = @Html.DisplayFor(modelItem => Model.CandidateID)</h1>
<td>                
    <img src="@Model.ImgPath"                            
    class="square"                            
    height="140" width="140"
    asp-append-version="true" />             
</td>
<br>
<h2>Personal Information</h2>
<table class="table">
        <thead>
            <tr>
                <th>                Full Name           </th>
                <th>                Mobile No           </th>
                <th>                Email          </th>
                <th>                Address          </th>
                <th></th>
                </tr>
                </thead>
                  <tbody>
                 <tr>
                 <td>  @Html.DisplayFor(modelItem => Model.FullName) </td>
                 <td>  @Html.DisplayFor(modelItem => Model.MobileNo) </td>
                 <td>  @Html.DisplayFor(modelItem => Model.Email)     </td>
                 <td>  @Html.DisplayFor(modelItem => Model.Address)  </td>
             </tr>
             </tbody></table>

<h4>Educational Information</h4>
<table class="table">
        <thead>
            <tr>
                <th>                Education Type           </th>
                <th>                Passing Year            </th>
                <th>                Percentage           </th>
                <th>                Degree Name          </th>
                <th></th>
                </tr>
                </thead>
                  <tbody>
                 <tr>
                 <td>  SSC</td>
                 <td>  @Html.DisplayFor(modelItem => Model.SscpassYear) </td>
                 <td>  @Html.DisplayFor(modelItem => Model.Sscpercentage) </td>
             </tr>
             @if(Model.HscpassYear!=null)
        {
             <tr>
                 <td>HSC</td>
                  <td>  @Html.DisplayFor(modelItem => Model.HscpassYear) </td>
                 <td>  @Html.DisplayFor(modelItem => Model.Hscpercentage) </td>
             </tr>
        }
        @if(Model.DiplomaPassYear!=null)
        {
             <tr>
                 <td>Diploma</td>
                  <td>  @Html.DisplayFor(modelItem => Model.DiplomaPassYear) </td>
                 <td>  @Html.DisplayFor(modelItem => Model.DiplomaPercentage) </td>
             </tr>
        }
             
        
             <tr>
                 <td>Degree</td>
                  <td>  @Html.DisplayFor(modelItem => Model.DegreePassYear) </td>
                 <td>  @Html.DisplayFor(modelItem => Model.DegreePercentage) </td>
                 <td>  @Html.DisplayFor(modelItem => Model.DegreeName)     </td>
             </tr>
        
         @if(Model.MastersPassYear!=null)
        {
            <tr>
                 <td>Masters</td>
                  <td>  @Html.DisplayFor(modelItem => Model.MastersPassYear) </td>
                 <td>  @Html.DisplayFor(modelItem => Model.MastersPercentage) </td>
                 <td>  @Html.DisplayFor(modelItem => Model.MastersName)     </td>
             </tr>
        }
         </tbody></table>
<br>
<h2>Professional Information</h2>  
    <table class="table">    
        <thead>        
            <tr>            
                <th>                Work Experience (years)  </th>            
                <th>                Companies          </th> 
                <th>                Projects           </th>         
                </tr>    
                </thead>    
                <tbody>
                 <tr>        
                 <td>  @Html.DisplayFor(modelItem => Model.ExpInYears) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.Companies) </td>            
                 <td>  @Html.DisplayFor(modelItem => Model.Projects)   </td>                   
             </tr>    
             </tbody>
             </table>
             
